body {
  padding: 00px;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

/* Don't render links */
body a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 26px;
}

h2 {
  margin-top: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 10px; /* Optional: Adds some space between the heading and the line */
  font-size: 16px;
}

/* Render bullet-point lists with dashes */
ul {
  list-style-type: none;
  padding-left: 24px;
}
ul li:before {
  content: '\2013';
  position: absolute;
  margin-left: -20px;
}
