body {
  font-family: "Helvetica Neue", "Inter", sans-serif;
  background-color: white;
  color: black;
}

@media print {
  body {
    padding: 0px;
    font-size: 12px;
  }
}

/* Layout for large screens */
@media screen {
  body {
    padding-top: 0.6in;
    padding-bottom: 0.6in;
    padding-left: 15%;
    padding-right: 15%;
    font-size: 16px;
  }
}

/* Layout for small screens and mobile */
@media screen and (max-width: 1000px) {
  body {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: #141414;
    color: #dddddd;
  }
}

body a {
  text-decoration: underline;
  color: inherit;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  letter-spacing: -0.05rem;
  font-size: 24px;
  margin: 0;
  margin-bottom: -6px;
}

h2,
h3 {
  letter-spacing: -0.02rem;
  font-size: 14px;
}
@media screen {
  h2,
  h3 {
    font-size: 18px;
  }
}

h2 {
  font-weight: 500;
  margin-top: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}
@media screen {
  h2 {
    margin-top: 50px;
  }
}
@media screen and (prefers-color-scheme: dark) {
  h2 {
    border-bottom: 1px solid #dddddd;
  }
}

h3 {
  font-size: 12px;
  margin-top: 20px;
  font-weight: normal;
  border-bottom: 1px solid black;
}
@media screen {
  h3 {
    font-size: 16px;
    margin-top: 36px;
  }
}

/* Table divs for item headings */
.table {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 33.33%;
}

.row > .col:nth-child(2) {
  text-align: center;
}

.row > .col:last-child {
  text-align: right;
}

@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    text-align: left;
  }

  .row > .col:nth-child(2) {
    text-align: left;
  }

  .row > .col:last-child {
    text-align: left;
  }
}

@media screen {
  .col.links {
    width: 100%;
    text-align: left;
  }

  .row.links > .col:nth-child(2) {
    text-align: left;
  }

  .row.links > .col:last-child {
    text-align: left;
  }
}

/* Render bullet-point lists with dashes */
ul {
  list-style-type: none;
  padding-left: 24px;
}
ul li:before {
  content: "\2013";
  position: absolute;
  margin-left: -20px;
}
li {
  margin-bottom: 4px;
}

